.next-steps .fa-link {
    margin-right: 5px;
}


/* Fix for use only flexbox in content area */

.next-steps .row {
    margin-bottom: 0;
}

.next-steps .col-md-5 {
    margin-bottom: 3rem;
}

@media (max-width: 768px) {
    .next-steps .col-md-5 {
        margin-bottom: 0;
    }
}

.spinner-fullscreen {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.spinner-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100%;
    background-color: white;
}

.result-block-container .result-block {
    opacity: 1;
}


/* Profile card */

.card {
    display: flex;
    flex-direction: column;
    max-width: 345;
    background-color: #eee;
    justify-content: space-between;
}

.card-header {
    display: inline-flex;
    justify-content: space-between;
    height: 40px;
    padding: 0;
    background-color: #F8F9FA;
    text-align: left;
}

.card-title {
    height: 40px;
    line-height: 40px;
    padding: 5px;
    color: #000;
}

.card-body {
    display: block;
    padding: 0 !important;
}

.card-footer {
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #fff;
}

.card-link {
    line-height: 30px;
    margin-left: 5px;
    text-transform: uppercase;
}